* {
  margin: 0;
  padding: 0;
}

body {
  background: #d5c6a4;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 1em;
}

.header {
  max-width: 100%;
  width: 100%;
  /* height: 120px; */
  display: grid;
  /* grid-template-columns: 250px auto 250px; */
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-template-rows: 120px 30px;
  justify-items: center;
  align-items: center;
}

.header__article {
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__title {
  text-align: center;
  font-size: 5em;
}

.header__details {
  border: 2px solid black;
  border-left: none;
  border-right: none;
  width: 96%;
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  text-transform: uppercase;
}

.main {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: repeat(auto-fill, 250px); */
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-template-rows: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 5px;
  margin: 20px 0 0px;
  /* max-width: 1000px; */
  /* justify-content: center; */
}

.item {
  padding: 10px;
  text-align: center;
}

.item__title {
  font-size: 1.8em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.item__subtitle {
  text-align: center;
}

.enfasis {
  margin-top: 5px;
  border: 2px solid black;
  border-left: none;
  border-right: none;
  font-size: 1.3em;
  padding: 0.2em 0;
  text-transform: uppercase;
}
.one {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}
.one .article {
  border: 2px solid black;
  text-align: center;
}

.one .content::first-letter {
  font-size: 2.5em;
  font-family: serif;
  float: left;
}
.content {
  text-align: justify;
  letter-spacing: normal;
  margin-top: 10px;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}

.two .imagen {
  width: 100%;
  height: 270px;
}
/* .two .imagen img, */
.imagen img,
.imagen__left img,
.imagen__right img {
  width: 100%;
  height: 100%;
  filter: sepia(100%);
}
.three {
  grid-column: 3 / 6;
  grid-row: 1 / 3;
  padding: 0;
}

.three__title {
  font-size: 2.2em;
  text-align: center;
}
.three__container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
}
.left,
.right {
  border-bottom: 1px solid black;
}

.right img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  filter: sepia(90%);
}

.four {
  grid-column: 3 / 4;
  grid-row: 3 / 8;
}

.five {
  grid-column: 1 / 3;
  grid-row: 5 / 8;
}

/* .five .imagen {
  width: 100%;
  height: 750px; 
} */

.six {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}
.six__content {
  /* display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr; */
  column-count: 2;
}
.six__title {
  font-size: 2em;
  text-align: center;
}

.seven {
  column-count: 2;
  grid-column: 4 / 6;
  grid-row: 4 / 5;
}

.imagen__left img,
.imagen__right img {
  width: 230px;
  height: 220px;
}
/* .imagen__left {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.imagen__right {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
} */

.eight {
  grid-column: 4 / 6;
  grid-row: 6 / 7;
}

.imagen__bottom {
  width: 100%;
  height: 500px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

@media (max-width: 1284px) {
  .header__title {
    font-size: 4em;
  }
}

@media (max-width: 1269px) {
  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .two {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  .two .imagen {
    height: 350px;
    margin: auto;
  }
  .four {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }
  .five {
    grid-column: 1 / 3;
    grid-row: 6 / 8;
  }
  .six {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
  }
  .seven {
    column-count: 2;
    grid-column: 3 / 6;
    grid-row: 6 / 7;
  }
  .eight {
    grid-column: 3 / 6;
    grid-row: 7 / 8;
  }
  .five .image img,
  .eight .image img {
    max-width: 200px;
  }
}

@media (max-width: 1070px) {
  /* .three__container {
    display: block;
  } */
  .main {
    /* grid-template-columns: repeat(auto-fill, 150px); */
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  }
}
@media (max-width: 1039px) {
  .header {
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
  .header__title {
    font-size: 3.5em;
  }
  .header__article {
    width: 150px;
    height: 80px;
    font-size: 0.8em;
  }
}

@media (max-width: 955px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    /* grid-template-rows: repeat(6, 270px); */
  }
  .three__container {
    display: block;
  }
  .right img {
    height: 250px;
    object-fit: fill;
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .two {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
  }
  .four {
    grid-column: 3 / 6;
    grid-row: 3 / 5;
  }
  .five {
    grid-column: 1 / 4;
    grid-row: 6 / 8;
  }
  .six {
    grid-column: 1 / 6;
    grid-row: 8 / 8;
  }
  .seven {
    grid-column: 1 / 6;
    grid-row: 9 / 10;
  }
  .eight .imagen {
    height: 100%;
  }
  .eight {
    grid-column: 4 / 6;
    grid-row: 6 / 8;
  }
}

@media (max-width: 877px) {
  .header__title {
    font-size: 3em;
  }
}

@media (max-width: 820px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
}
@media (max-width: 815px) {
  .header__title {
    font-size: 2.2em;
  }
}

@media (max-width: 600px) {
  .header {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: 80px 30px;
  }
  .header__title {
    grid-column: 1 / 4;
  }
  .header__article {
    display: none;
  }
}

@media (max-width: 529px) {
  .main {
    display: block;
  }
  .six__content {
    column-count: initial;
  }
  .seven {
    column-count: initial;
  }
  .imagen__left img,
  .imagen__right img {
    width: 300px;
  }
}
